@charset "utf-8";
/* CSS Document */

HTML, body {
	margin:0;
	padding:0;
	font-size:16px;
	line-height:20px;
	font-family: 'Chivo', Arial;
	height:100%;
	background:#f6f6f6 /*url(images/bg-pattern.jpg) repeat*/ ;
}
	.home	{	height:100%;
				text-align:center;
				color:#bbb;
				background:#181818;
				border:none;
				background-image:url(images/page-curl-small.png);
				background-repeat:no-repeat;
				background-position:left top;
			}
	.stretch{	height: 100%;
				vertical-align: middle; display: inline-block;
			}
	.homepg{ 	color:#bbb;
    			text-align:center;
    			width: auto;
    			height:auto;
    			vertical-align: middle;
    			display: inline-block;
				letter-spacing:5px;
			}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	font-size:inherit;
	margin:0;
}
h1			{ font-family:'Wire One'; } /* title heading */
h2			{  }
h3			{ font-weight:bold; }
h4			{  }
h5 			{  }
h6			{  }

a			{ color:; }
a:visited	{ color:; }
a:hover		{ color:; }
a:active	{ color:; }

.text-48px	{ font-size:48px; }
.text-36px	{ font-size:36px; }
.text-24px	{ font-size:24px; }
.text-18px	{ font-size:18px; }
.text-16px	{ font-size:16px; }
.text-14px	{ font-size:14px; }

.wrapper {
	min-height:100%;
	position:relative;
	bottom:0;
}

.page {
	width:1000px;
	margin:20px auto;
	height:auto;
}

/* Menu bar */
.nav-wrapper {
	padding:0px 25px;
	width:1000px;
	background:transparent;
	vertical-align:middle;
	display:table;
	border-top:1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin:8px auto;
}
	.nav-wrapper h2 {
		color:#888;
		padding:16px 0 16px 0;
		margin:auto;
		font-family:'Alegreya Sans SC', sans-serif;
		text-shadow:rgba(255,255,255,1.00) 0 1px 0;
	}
	
	.nav-wrapper a {
		color:#888;
		text-transform:uppercase;
		text-decoration:none;
		font-family:'Raleway', sans-serif;
		margin:16px 20px 16px 0;
		border-bottom:1px solid transparent;
		float:right;
		transition:0.3s;
	}
	.nav-wrapper a:hover {
		color:#005C74;
		border-bottom:1px solid #0086A8;
		transition:0.3s;
	}
	.homenav a {
		top:3px;
		color:#888;
		text-transform:uppercase;
		text-decoration:none;
		font-family:'Raleway', sans-serif;
		margin:16px 20px 16px 0;
		border-bottom:1px solid transparent;
		float:right;
		transition:0.3s;
	}
	.homenav a:hover {
		border-bottom:1px solid #0086A8;
		transition:0.3s;
	}
	.pos 		{position:fixed; top:0; right:0; margin:auto;}

.title-float {
	float:left;
}

table {
	vertical-align:top;}
	

/* Blog posts */
	.post {
		margin:auto auto 25px auto;
		width:720px;
		color:#444;
		border:1px solid #bbb;
		border-radius:4px;
		background:#fafafa;
		padding:24px;
		text-shadow:1px 1px 1px rgba(0,0,0,0.10);
		box-shadow:rgba(0,0,0,0.50) 1px 1px 2px;
	}
	.time-stamp {
		text-transform:uppercase;
		font-size:14px;
		letter-spacing:4px;
		margin:auto;
		float:right;
	}	
	.post-content {
		clear:both;
		padding:4px 8px;
		text-indent:50px;
		text-align:justify
	}

/* Subscription */
	.sidebar {
		list-style: none;
		padding:0;
		margin:0;
		position:absolute;
	}
	.sidebar li {
		margin:0 0 12px 0;
	}
	.rss {
		color:#fff;
		font-size:14px;
		font-family:Helvetica;
		text-indent:20px;
		text-decoration:none;
		background:#f79537 url(images/rss-logo.png) 4px 2px no-repeat;
		border:1px solid #f79537;
		border-radius:4px;
		position: relative;
		padding:2px 4px 2px 26px;
		height:16px;
		width:20px;
		box-shadow:#CE6907 0px 2px 0px,
		inset rgba(255,255,255,0.00) 0 1px 0,
		rgba(0,0,0,0.50) 0 3px 3px;
	}
		.rss:hover {
			color:#f79537;
			background:#fff url(images/rss-logo.png) 4px -30px no-repeat;
		}
		.rss:active {
			box-shadow:#CE6907 0px 1px 0px,
		inset rgba(255,255,255,0.00) 0 1px 0,
		rgba(0,0,0,0.50) 0 1px 3px;
			position:relative;
			top:1px;	
		}

/* Contact */
	.c-info {
		width:720px;
		margin:auto;
		color:#777;
		text-align:justify;
		text-indent:40px;
		border:1px solid #ddd;
		border-bottom:1px solid #fff;
		border-right:1px solid #fff;
		background:rgba(0,0,0,0.03);
		padding:24px;
		box-shadow:inset rgba(0,0,0,0.03) 1px 1px 1px;
	}
	.c-contact {
		margin:auto;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight:lighter;
		letter-spacing:3px;
		text-shadow:none;
	}
	.c-contact tr {
		height:128px;
	}
	.c-medium, .c-username {
		padding:20px;
	}
		.c-medium {
			color:#555;
			font-size:36px;
			padding-bottom:20px;
		}
		.c-username {
			color:#999;
			font-size:18px;
			text-decoration:none;
			transition:1s;
		}
			tr:hover .c-username {
			color:#005C74;
			text-shadow:rgba(0,92,116,0.50) 0 0 3px;
			transition:0.4s;
			}
		
		/* sprites */
		.gmail			{left:0px; width:128px; height:128px;}
		.gmail			{background:url(images/contact-sprites.png) -256px 0px;}
		tr:hover .gmail	{background:url(images/contact-sprites.png) -256px 129px;}
		
		.skype			{left:0px; width:128px; height:128px;}
		.skype			{background:url(images/contact-sprites.png) -128px 0px;}
		tr:hover .skype	{background:url(images/contact-sprites.png) -128px 129px;}
		
		.brawlv			{left:0px; width:128px; height:128px;}
		.brawlv			{background:url(images/contact-sprites.png) -512px 0px;}
		tr:hover .brawlv{background:url(images/contact-sprites.png) -512px 129px;}
		
		.style			{left:0px; width:128px; height:128px;}
		.style			{background:url(images/contact-sprites.png) -384px 0px;}
		tr:hover .style	{background:url(images/contact-sprites.png) -384px 129px;}


.hr-style1 {
	border:none;
	border-top:1px solid rgba(0,0,0,0.50);
	border-bottom:1px solid rgba(255,255,255,0.50);
	width:400px;
}

.banner {
	text-align:center;
	font-weight:lighter;
	color:#bbb;
	background:#181818;
	width: 100%;
	overflow: hidden;
	position: relative;
	padding-top:32px;
	padding-bottom:32px;
}
.header-text {
	text-align:center;
	letter-spacing:3px;
	padding-left:20px;
	padding-right:20px;
	margin:0 auto;
	width:200px;
}

.footer {
	bottom:0;
	position: relative;
}